<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Angular PokeAPI Project
        </p>

        <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
            <div class="column">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam et dolorum obcaecati laborum, similique nesciunt dolore sapiente iusto iste qui eos hic eveniet doloribus nisi amet, illo rerum ipsa sequi!
            </div>
            <div class="column">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, ab. Quam, quaerat? Optio id, dolor hic quibusdam similique voluptates nobis repellat sunt libero eveniet cumque aperiam, a laboriosam. Vero, qui.
            </div>
            <div class="column">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis tempore iusto molestiae veniam repellat explicabo voluptatem exercitationem eos, dolorum culpa ipsum! In similique possimus molestiae impedit ducimus modi eum assumenda.
            </div>
            <div class="column">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam laboriosam labore a explicabo reiciendis totam similique assumenda alias officia! Numquam consequatur voluptatum unde odit consequuntur corporis ea nisi qui temporibus!
            </div>
          </div>
    </div>
</footer>